body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
#navigation{
    text-align:right;
    padding-top:20px;
    padding-bottom:20px;
}
#navigation ul {
    list-style-type:none;
	padding:0;
	margin:0;
    display:inline;
	font-size:20px;
}
#navigation li a{
     text-decoration:none;
     padding:18px 20px;
     color:gray;
}
#navigation li{
    display:inline;
}
h1{
    font-size:50px;
    font-weight:700;
    line-height:15px;   
}
h2{
    font-size:40px;
    font-weight:bold;
}
h3{
    text-align:center;
    font-size:40px;
    font-weight:bold;
    padding-bottom:70px;
}
section{
    overflow:hidden;
    padding-top:100px;
    padding-bottom:100px;
}
.orange-highlight{
    color:#FF8367;
}
.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:2%;
}
.half-width img{
    width:100%;
}
.link-button{
    text-decoration:none;
    background-image:linear-gradient(45deg, salmon, tomato);
    padding:10px 20px;
    border-radius:7px;
    color:white;
    font-weight:700;
}
.quarter-width{
    width:28%;
    float:left;
    padding-left:2%;
    margin-left:2%;
    background-image:url(images/latest-work-bg.png);
}
.quarter-width img{
    width:100%;
}
.lastet-area{
    background-color:#e8ebf3;
    overflow:hidden;
}
.single-box{
    background-color:white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
    border-radius:15px;
}

.box-style{
    float: left;
    width:28%;
    height:400px;
    padding-left:2%;
    margin-left:2%;
    background-color:#e8ebf3;
    text-align:center;
    overflow:hidden;
    text-align: justify;
    border-radius:10px;
    padding-right:1%;
}
.box-style img{
    display:block;
    padding:auto;
    margin:auto;
    width:150px;
}
.style-img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:850px;
    height:200px; 
}
.style-background{
    position:relative;
}

#text{
    position:absolute;
    top:30%;
    left:30%;
    transform:translate(-50%,-50%);
    font-size:50px;
    text-align:center;
    letter-spacing:-5px;
}
#link{
    position:absolute;
    top:60%;
    right:20%;
    transform:translate(-50%,-50%);
}
footer{
    background-color:salmon;
    text-align:center;
}



